body, html{
    
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
    background-color: white;
    font-family: 'Montserrat';font-size: 27px;
    font-weight: bold;
    background-image: url(img/background.png);
    background-size: auto;
}


.map{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 600px;
}