body, html{
    
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
    background-color: white;
    font-family: 'Montserrat';font-size: 20px;
    font-weight: bold;
    background-image: url(img/background.png);
    background-size: auto;
    text-align: center;
}

.divform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 3em;
}

.formulario{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.butt{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    
}

#sub{
    font-size: 16px;
    font-family: 'Montserrat';
    border-radius: 8px;
    background-color: black;
    padding: 12px;
    color: white;
    border: black;
    font-weight: 500;
}
.goback{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1em;
}

.back{
    height: 50px;
}

input{
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 6px;
}